@model IEnumerable<Activity>

<h2 class="mb-3">Activities</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model)
        {
            <tr>
                <td>@activity.ActivityName</td>
                <td>@activity.Date.ToShortDateString()</td>
                <td>
                    <span class="badge bg-success">@activity.Status</span>
                </td>
            </tr>
        }
    </tbody>
</table>
